body{
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

.chatroom-container{
    display: none; /* just for development purpose actually it's display: none */
}

.form-username{
    display: block; /* just for development purpose actually it's display: block */
    margin-top: 10rem;
    margin-left: 26rem;
    width: 400px;
    font-size: 24px;
}
.form-username input{
    height: 30px;
    width: 280px;
}
.form-username button{
    height: 36px;
    color: azure;
    font-size: 18px;
    background-color: #191819;
    border-radius: 10px;
    cursor: pointer;
}

.messages{
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: #e1e1e1;
    overflow: auto;
}
.messages::-webkit-scrollbar{
    display: none;
}

.message{
    background-color: #DCF8C6;
    width: fit-content;
    padding: 0.6rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
}

.sent{
    align-self: flex-end;
}

.chatroom-header{
    background-color: #0f0f0f;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
}
.inp{
    height: 2.8rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    background-color: #55f187;
}
.inp img{
    padding: 0.3rem 1rem 0 1rem;
    height: 1.8rem;
    width: 1.8rem;
    transition: transform .2s; /* Animation */
}
.inp img:hover{
    transform: scale(1.3);
}
.inp input{
    padding-left: 1rem;
    background-color: #55f187;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.5rem;
}
.inp ::placeholder{
    font-size: 1.5rem;
    color: #4f4f4f;
}
#message-input{
    width: 85%;
}
#send-button{
    background-color: #55f187;
    border: none;
    cursor: pointer;
}
/* align-item */
/* targets all the elements present in flex container */

/* align-self */
/* targets only the required elements */